@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    

}
body{
    background-image: linear-gradient(to right,#F5D95A, #DCDCDC );
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba#332b06;
    width: 600px;
    padding:10px;
    margin: auto;
}

h1{
    color:#191919;
    text-align: center;
    text-shadow: 1px 1px 2px #FFCD00;
}

h2{
    color: #191919;
}

p{
    text-align: justify;
}
